################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ReadingNotesOnline/PrivateWebSettings.config
